<div class="grid-container">
  <h1 class="mat-h1">Heat Selection</h1>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile *ngFor="let heatId of heatIds | async" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card" routerLink="/contests/{{ contestId }}/eliminations/{{ eliminationId }}/heats/{{ heatId }}/judges">
        <mat-card-content class="dashboard-card-content">
          {{ heatId }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>