<div class="grid-container">
  <h1 class="mat-h1">Elimination Selection</h1>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card" routerLink="/contests/{{ contestId }}/eliminations/single/heats">
        <mat-card-content class="dashboard-card-content">
          Single Elimination
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card" routerLink="/contests/{{ contestId }}/eliminations/double/heats">
          <mat-card-content class="dashboard-card-content">
            Double Elimination
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>